@import "../_imports.scss";

/*----------------
STARFIELD BG */

.starfield {
    background: #222222;
    margin: 0;
    max-height: 100%;
}

/* END STARFIELD BG
----------------
MENU OVERLAY */

#header > div > div > a > button:hover {
    @include box-shadow-pink;
}

/* END MENU OVERLAY
----------------
MOON */

.moon {
    margin-left: 75%;
    @include drop-shadow-bright;
}

#header > div > h1 {
    margin-right: -10rem;
}
