@import "../_imports.scss";

.hero {
    @include flex-direction(column);

    .starfield {
        position: absolute;
        z-index: 0;
        background: #222222;
        margin: 0;
        max-height: 100%;
    }

    .mountains {
        z-index: 1;
    }

    .moon {
        z-index: 2;
        @include drop-shadow-bright;
    }
}

#header > div > div > a > button:hover {
    @include box-shadow-pink;
}


#header > div > h1 {
    margin-right: -10rem;
}