@import "../_imports.scss";

#root > div > nav > div:nth-child(1) > p {
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.2));
}

.menuButton {
    position: absolute;
    width: 30px;
    @include no-border;
    margin-left: 12rem;
    margin-top: -2.2rem;
    @include drop-shadow-subtle;

    &:focus {
        @include no-border;
    }

    span {
        position: relative;
        display: block;
        top: 50%;

        &::before,
        &::after {
            position: absolute;
            content: "";
            @include width-height(30px, 3px);
            background: #fafafa;
            left: 0;
            cursor: pointer;
        }

        &:hover > span,
        &:hover > span::before,
        &:hover > span::after {
            background: #f300b4;
        }
    }

    nav .sticky {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 60;
    }

    .brand:hover {
        color: #f300b4;
    }
}

/*----------------
MENU OVERLAY */

#root > div > nav > div:nth-child(2) {
    > div {
        background-color: $neon-pink;
        width: 50%;
        margin-top: 10vh;
        transition: transform 0.3s ease-in-out;
        opacity: 0.9;
        box-shadow: 0 10px 100px -20px #000000;

        &.true {
            height: 50vh;
            margin-left: 25vw;
            transform: translateX(0%);
        }

        &.false {
            height: 0px;
            margin-left: -25vw;
            transform: translateX(-200%);

            .li {
                visibility: hidden;
            }
        }
    }
}