/*----------------
COLORS */
$none: transparent;
$white: #fff;
$off-black: #252b31;
$off-white: #f1f1f1;

$neon-pink: #f300b4;

$light-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
$subtle-shadow: 0 0 2px rgba(0, 0, 0, 0.2);