/* *****
IMPORT TAILWIND CSS
***** */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* *****
NAV & MENU BUTTON
***** */
.menuButton {
  position: absolute;
  width: 30px;
  outline: none;
  border: none;
  margin-left: 12rem;
  margin-top: -2.2rem;
}

.menuButton:focus {
  outline: none;
  border: none;
}

/* menu button animation TODO */
/* .menuButton:focus span {
  opacity: 0;
}
.menuButton:focus span::before {
  transform: rotate(45deg);
}
.menuButton:focus span::after {
  transform: rotate(-45deg);
} */

.menuButton span,
.menuButton span::before,
.menuButton span::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 3px;
  background: #fafafa;
  left: 0;
  cursor: pointer;
}

.menuButton span {
  position: relative;
  display: block;
  top: 50%;
}

.menuButton span::before {
  top: -8px;
}

.menuButton span::after {
  top: 8px;
}

.menuButton:hover > span,
.menuButton:hover > span::before,
.menuButton:hover > span::after {
  background: #f300b4;
}

nav .sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 60;
}

.brand:hover {
  color: #f300b4;
}

/* *****
MENU OVERLAY 
***** */
#root > div > nav > div:nth-child(2) > div.true {
  background-color: #f300b4;
  width: 50%;
  height: 50vh;
  margin-top: 10vh;
  margin-left: 25vw;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0%);
  opacity: 0.9;
  box-shadow: 0 10px 100px -20px #000000;
}

#root > div > nav > div:nth-child(2) > div.false {
  background-color: #f300b4;
  width: 50%;
  height: 0px;
  margin-top: 10vh;
  margin-left: -25vw;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-200%);
  opacity: 0.9;
  box-shadow: 0 10px 100px -20px #000000;
}

.false .li {
  visibility: none;
}

/* *****
STARFIELD HERO BG
***** */
.starfield {
  background: #222222;
  margin: 0;
  max-height: 100%;
}

@keyframes twinkle {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.15;
  }
}

/* *****
CTA BUTTONS
***** */

#header > div > div > a > button:hover {
  box-shadow: 0 10px 100px -20px #f300b4;
}

/* *****
MOON
***** */
#root > div > div > div.hero.flex > div.moon {
  margin-left: 75%;
  filter: drop-shadow(3px 3px 2px rgba(255, 255, 255, 0.7));
}

#header > div > h1 {
  margin-right: -10rem;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
}

/* *****
ABOUT SECTION STYLES
***** */
.about {
  margin-top: 40rem;
  padding-bottom: 11rem;
  content: "";
  background-image: url("./assets/imgs/about-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: right center;
  position: relative;
  z-index: 0;
}

.about .column {
  width: 45%;
}

#root
  > div
  > section
  > div
  > article
  > div.skills.flex.flex-wrap.justify-center
  > div
  > div
  > svg
  > path {
  fill: #ff0000;
}

/* *****
PROJECTS SECTION STYLES
***** */
.projects {
  clip-path: polygon(
    0px 0px,
    20% 2%,
    100% 0px,
    210% 95%,
    99.64% 99.01%,
    67.24% 97.16%,
    1px 98.95%
  );
}

.projectImage img {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  padding: 1rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%) drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.projectImage:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0) drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* *****
CONTACT SECTION STYLES
***** */
#contact {
  margin-top: -200px;
  height: 100%;
  content: "";
  background-image: url("./assets/imgs/contact-bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: right center;
  position: relative;
}

/* *****
MEDIA QUERIES
***** */
@media (max-width: 3300px) {
  .designer {
    margin-right: 35rem;
  }
  .mountains {
    margin-top: -20rem;
  }
  .starfield {
    max-height: 150%;
  }
  .about {
    margin-top: 70rem;
  }
}

@media (max-width: 3200px) {
  .about {
    margin-top: 65rem;
  }
}

@media (max-width: 3075px) {
  .about {
    margin-top: 60rem;
  }
}

@media (max-width: 2950px) {
  .about {
    margin-top: 55rem;
  }
}

@media (max-width: 2800px) {
  .about {
    margin-top: 50rem;
  }
  .designer {
    margin-right: 24rem;
  }
}

@media (max-width: 2500px) {
  .about {
    margin-top: 50rem;
  }
  .mountains {
    margin-top: -6rem;
  }
  .designer {
    margin-right: 16rem;
  }
}

@media (max-width: 2350px) {
  .about {
    margin-top: 45rem;
  }
}

@media (max-width: 2210px) {
  .about {
    margin-top: 40rem;
  }
  .starfield {
    max-height: 100%;
  }
}

@media (max-width: 2100px) {
  .about {
    margin-top: 35rem;
  }
}

@media (max-width: 1950px) {
  .about {
    margin-top: 25rem;
  }
}

@media (max-width: 1800px) {
  .about {
    margin-top: 15rem;
  }
  .designer {
    margin-right: -11.5rem;
  }
}

@media (max-width: 1650px) {
  .about {
    margin-top: 20rem;
  }
}

@media (max-width: 1500px) {
  .about {
    margin-top: 7rem;
  }
  .starfield {
    max-height: 90%;
  }
  .moon {
    width: 12rem;
    height: 12rem;
  }
  .heroHeader {
    margin-top: 7rem;
  }
}

@media (max-width: 1400px) {
  .about {
    margin-top: 5rem;
  }
  .projects {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}

@media (max-width: 1300px) {
  .about {
    margin-top: -2rem;
  }
  .starfield {
    max-height: 75%;
  }
}

@media (max-width: 1250px) {
  .about {
    margin-top: -7rem;
  }
  .projects {
    padding-left: 6rem;
    padding-right: 6rem;
  }
  .projects .projectImage img {
    filter: grayscale(0) drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.2));
  }
}

@media (max-width: 1175px) {
  .moon {
    height: 15%;
    width: 15%;
  }
  .heroHeader {
    max-height: 650px;
    width: 100%;
    margin-right: 5rem;
    margin-left: 5rem;
  }
  .starfield {
    max-height: 50%;
  }
  .about {
    margin-top: -5rem;
  }
  .contact {
    height: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (max-width: 1120px) {
  .about .column {
    width: 70%;
    margin-bottom: 2rem;
  }
  .designer {
    margin-right: -12rem;
  }
}

@media (max-width: 1100px) {
  .about {
    margin-top: -10rem;
  }
  .projects {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .moon {
    margin-left: 70%;
    max-height: 8rem;
    max-width: 8rem;
  }
  .designer {
    margin-top: -2.5rem;
  }
}

@media (max-width: 975px) {
  .moon {
    max-height: 5rem;
    max-width: 5rem;
  }
  .heroHeader {
    margin-top: 5rem;
  }
  .projects {
    padding-left: 0;
    padding-right: 4rem;
  }
  .projects .projectImage img {
    width: 16rem;
    height: 16rem;
    margin-top: 5rem;
  }
}

@media (max-width: 900px) {
  .designer {
    margin-right: 0rem;
  }
}

@media (max-width: 875px) {
  #welcome {
    max-height: 100vh;
  }
  .moon {
    max-height: 12rem;
    max-width: 12rem;
  }
  .mountains {
    margin-top: 16rem;
  }
  .starfield {
    max-height: 100%;
  }
  .heroHeader {
    margin-right: 2rem;
    margin-left: 4rem;
    max-height: 100%;
    margin-top: 8rem;
  }
  .text-4xl {
    font-size: 1.75rem;
  }
  .text-5xl {
    font-size: 2.5rem;
  }
  .text-8xl {
    font-size: 4.5rem;
  }
  #header
    > div
    > h1
    > span.-mt-5.ml-36.block.text-gray-100.font-light.italic.text-4xl {
    margin-left: 8rem;
  }
  #header
    > div
    > h1
    > span.-mt-3.ml-14.block.text-yellow-50.font-light.italic.text-5xl.mb-4 {
    margin-bottom: 0.75rem;
  }
  .designer {
    margin-top: -3.5rem;
    margin-left: 2rem;
  }
  .about {
    margin-top: 10rem;
  }
  .about .column {
    width: 90%;
  }
  .projects {
    margin-bottom: 6rem;
  }
  .contact {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 850px) {
  .projects .projectImage img {
    position: absolute;
    border-radius: 0px;
    width: 30rem;
    height: 30rem;
    margin-top: 4rem;
    margin-left: -18rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 825px) {
  .about {
    margin-top: 6rem;
  }
}

@media (max-width: 750px) {
  .heroHeader .buttons a {
    display: none;
  }
}

@media (max-width: 700px) {
  .heroHeader {
    max-height: 400px;
    margin-bottom: 8rem;
    margin-left: 2rem;
    margin-right: 0;
  }
  .designer {

  }
  .about {
    margin-top: -10rem;
    padding-top: 15rem;
  }
  .about article {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .projects article {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

@media (max-width: 699px) {
  .hero {
    max-height: 100vh;
  }
  .mountains {
    margin-top: 12rem;
  }
  .starfield {
    max-height: 100vh;
  }
  .heroHeader {
    margin-top: 9rem;
  }
  #header > div > h1 > div {
    margin-top: -3.8rem;
  }
  #root > div > div > div.hero.flex > div.moon {
    margin-left: 65%;
    max-height: 8rem;
    max-width: 8rem;
  }
  .heroHeader {
    padding-bottom: 5rem;
  }
  .heroHeader .text-5xl {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .heroHeader .text-6xl {
    font-size: 3.25rem;
  }
  .about {
    background-size: auto;
  }
}

@media (max-width: 600px) {
  .designer {
    margin-top: -1.5rem!important;
    margin-left: -3rem;
  }
  .about {
    margin-top: -15rem;
  }
}

@media (max-width: 525px) {
  .mountains {
    margin-top: 8rem;
  }
  .about {
    margin-top: -20rem;
  }
}

@media (max-width: 500px) {
  .moon {
    margin-left: 75%;
    max-width: 10rem;
    max-height: 10rem;
  }
  .hero {
    max-height: 75vh;
  }
  .App {
    width: min-content;
  }
  .mountains {
    margin-top: 20rem;
  }
  .starfield {
    width: 100%;
    height: 75vh;
  }
  .heroHeader {
    margin-top: 10rem;
  }
  #header
    > div
    > h1
    > span.-mt-3.ml-14.block.text-yellow-50.font-light.italic.text-5xl.mb-4 {
    margin-bottom: 1rem;
  }
  .designer {
    margin-top: -2rem;
  }
  .about {
    width: 100vw;
  }
  .about article {
    margin-left: 0;
    margin-right: 0;
  }
  .about .column {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .projects article {
    margin-left: 0;
    margin-right: 0;
  }
  #work > div.title.justify-center {
    width: 100vw;
  }
  .projects article .project {
    padding-left: 4rem;
    padding-right: 6rem;
    display: block;
    grid-template-columns: none;
    width: 100%;
  }
  #work > div > a {
    display: none;
  }
  #contact {
    height: 100vh;
  }
  #contact .contact {
    padding: 2rem 0;
  }
  #contact > div > div {
    position: absolute;
    max-width: 85vw;
  }
  #root > div > footer {
    margin-top: 0;
    height: 150px;
    background-color: #141414;
  }
}
